<div id="wrapper" class="container-fluid">

  <div class="header container">
    <div class="row">
      <div class="col-4">
        <label>Category</label>
        <select name="category" [(ngModel)]="category" (change)="onCategoryChange($event)">
          <option *ngFor="let category of categories" [value]="category.value">{{category.name}}</option>
        </select>
      </div>
      <div class="col-4">
        <h3>Points: {{points}}</h3>
      </div>
      <div class="col-4">
        <button (click)="updateQuestions()">Next Questions</button>
      </div>
    </div>
  </div>

  <div class="content container">
    <div *ngIf="loading" class="row">loading...</div>

    <div *ngIf="!loading" class="row">
      <div class="col-4" *ngFor="let question of questions?.results">
        <app-question 
          [category]="question.category" 
          [question]="question.question"
          [correct]="question.correct_answer"
          [incorrect]="question.incorrect_answers"
          (addPoint)="onAddPoint()"
        ></app-question>
      </div>
    </div>
  </div>

</div>
